<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../stime.png">
  <link rel="stylesheet" href="./home.css">
  <title>Stime - home</title>
</head>
<body>
  <div id="a">
    <img src="./stime.png" width="250" height="250">
  </div>
  <div id="b">
    <h1>Stime documentation</h1>
    <p>.</p>
    <h2>the purpose of application:</h2>
    <h4>helping discorders with studying</h4>
    <h4>add <a href="https://discord.com/oauth2/authorize?client_id=723226893918404650&scope=bot"> Stime</a> to your server</h4>
    <h2>commands:</h2>
    <h4>$st => study time : you can't speak for 25 minutes</h4>
    <h4>$rem => reminder : remind you for studying every 5 minutes</h4>
    <h4>$stop => server unmute</h4>
    <h4>$help => recursion ;)</h4>
  </div>
</body>
</html>